// colors
textColor = #404040
lightColor = #3498db
darkColor = #2980b9
headerColor = #202020

// styles
body
	color textColor
	font-family 'Lato', sans-serif
	font-size 16px
	line-height 1.6em

a
	color inherit
	text-decoration none
	transition color .075s ease-in

h1, h2
	color darken(textColor, 30%)

h1
	font-size 1.953em
	line-height 1em
	margin-top 0
	margin-bottom 0

h2
	font-size 1.25em
	line-height 1em
	margin-top 2em
	margin-bottom 1em

ol, p, ul
	margin-top 1em
	margin-bottom 1em 

strong
	color darken(textColor, 15%)

.content
	margin 2em auto
	max-width 33em

#header, #content
	padding-right 1em
	padding-left 1em

#header
	background headerColor
	overflow auto

	h1, nav
		font-size 1em
		line-height 1.6em
		text-transform uppercase

	h1
		color rgba(#fff, .7)
		letter-spacing .15em
		word-spacing .3em

	nav
		color rgba(#fff, .55)

		ul
			margin-top 0
			margin-bottom 0
			padding-left 0

			li
				display inline

				&:after
					color rgba(#fff, .3)
					content '/'
					margin-right .3em
					margin-left .3em

				&:last-child:after
					content none

	a

		&:hover, &:active
			color rgba(#fff, 1)

#content

	section

		article
			margin-top 2em
			margin-bottom 2em

			header
				margin-top 2em
				margin-bottom 2em

				h1

					a
						color inherit

				.when
					color lighten(textColor, 30%)
					font-size .8em
					margin-top 0
					margin-bottom 0
					text-transform uppercase

			footer
				border-top .15em solid darken(#fff, 15%)
				color lighten(textColor, 15%)
				margin-top 4em
				margin-bottom 2em

	a
		color lightColor

		&:hover, &:active
			color darkColor