textColor = #333
mainColor = #27ae60
altColor = #2ecc71

body
	color textColor
	font-family 'Lato', sans-serif
	font-size 18px
	line-height 1.6em

a
	color inherit
	text-decoration none

h1, h2
	color darken(textColor, 15%)

h1
	font-size 1.45em
	margin 0

h2
	font-size 1.15em
	margin 2em 0 1em

ol, p, ul
	margin 1em 0

#header
	background-color mainColor
	padding 2em 1em

	h1, nav
		font-size .85em
		text-transform uppercase

	h1
		color rgba(255, 255, 255, .85)
		letter-spacing .15em
		word-spacing .3em

	nav
		color rgba(255, 255, 255, .7)

		ul
			margin 0
			padding 0

			li
				display inline
				margin-right .9em

	a

		&:hover, &:active
			color rgba(255, 255, 255, 1)

#content
	margin 2em 1em
	max-width 33em

	section

		article
			margin 1em 0

			header, footer
				margin 1em 0

			header

				h1

					a
						color inherit
						text-decoration none

						&:hover, &:active
							color mainColor

				.when
					color lighten(textColor, 30%)
					font-size .7em
					margin 0
					text-transform uppercase

			footer
				background-color #eee
				color lighten(textColor, 15%)
				padding 1em

				p
					font-size .85em
					margin 0

	a
		color altColor
		text-decoration underline

		&:hover, &:active
			color mainColor
