// colors
headerBackColor = #202020
headerTextColor = #fff
textColor = #404040
lightColor = #3498db
darkColor = #2980b9


// styles
body
	color textColor
	font-family 'Georgia', serif
	font-size 18px
	line-height 1.6em

a
	text-decoration none
	transition color 0.125s ease-in

h1, h2
	font-family 'Lato', sans-serif

.content
	margin 2em auto
	max-width 33em

#header, #content
	padding-right 1em
	padding-left 1em

#header
	background headerBackColor
	overflow auto
	text-align center

	h1, nav
		text-transform uppercase

	h1
		color rgba(headerTextColor, .75)
		font-size 1.5em
		font-weight normal
		margin-top 0
		margin-bottom 0

	nav
		color rgba(headerTextColor, .5)
		font-size 0.667em
		font-family 'Lato', sans-serif

		ul
			margin-top 0
			margin-bottom 0
			padding-left 0

			li
				display inline

				&:after
					color rgba(#fff, .25)
					content '/'
					margin-right .25em
					margin-left .25em

				&:last-child:after
					content none

	a
		color inherit

		&:hover, &:active
			color rgba(headerTextColor, 1)

#content

	section

		article
			margin-top 2em
			margin-bottom 2em

			header
				margin-top 2em
				margin-bottom 1em

				.when
					color lighten(textColor, 25%)
					font-family 'Lato', sans-serif
					font-size 0.667em
					font-weight bold
					letter-spacing .25em
					margin-top 0
					margin-bottom 0

			footer
				border-top .25em solid #eee
				color lighten(textColor, 25%)
				margin-top 4em
				margin-bottom 2em

	a
		color lightColor

		&:hover, &:active
			color darkColor

	h1, h2
		color darken(textColor, 25%)

		a
			color inherit

	h1
		font-size 2.25em
		line-height 1em
		margin-top 0
		margin-bottom 0

	h2
		font-size 1.5em
		line-height 1em
		margin-top 2em
		margin-bottom 1em

	ol, p, ul
		margin-top 1em
		margin-bottom 1em

	strong
		color darken(textColor, 25%)