@media screen and (min-width:500px)
	body
		font-size 18px

	#header
		padding 2em 2em

	#content
		margin 2em 2em

		section

			article

				footer
					margin 2em 0

@media screen and (min-width:1000px)
	body
		font-size 20px

	#header
		padding 4em 4em

	#content
		margin 4em 4em

		section

			article

				footer
					margin 4em 0