@media screen and (min-width:500px)
	body
		font-size 1.15em

	#header
		padding 2em

	#content
		margin 2em

@media screen and (min-width:1000px)
	body
		font-size 1.3em

	#header
		padding 2em 4em

	#content
		margin 2em 4em