@media screen and (min-width:500px)
	body
		font-size 20px

	#header
		padding 2em

	#content
		margin 2em

		section

			article

				footer
					margin 2em 0

@media screen and (min-width:1000px)
	#header
		padding 3em

	#content
		margin 3em

		section

			article

				footer
					margin 3em 0