<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="description" content="El blog de Jonathan Trujillo">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<header id="header">
			<h1>
				<a href="/">Jonathan Trujillo</a>
			</h1>
			<nav>
				<ul>
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="https://github.com/jonotrujillo">Github</a>
					</li>
					<li>
						<a href="https://twitter.com/jonotrujillo">Twitter</a>
					</li>
				</ul>
			</nav>
		</header>
		<div id="content">
			{{ content }}
		</div>
	</body>
</html>