---
layout: default
---

<section class="content post">
	<article>
		<header>
			<p class="when">
				<time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%d/%m/%Y" }}</time>
			</p>
			<h1>
				<a href="{{ page.url }}">{{ page.title }}</a>
			</h1>
		</header>
		{{ content }}
		<footer>
			<p>Mi nombre es <a href="/quien">Jonathan Trujillo</a>. Soy un desarrollador web de Caracas, Venezuela. Déjame saber que piensas sobre este artículo con un tweet a <a href="https://twitter.com/jonotrujillo">@jonotrujillo</a> o un e-mail a <a href="mailto:trujillo.jonathan@gmail.com">trujillo.jonathan@gmail.com</a>.</p>
		</footer>
	</article>
</section>